# API URL for the Arena Orchestrator
NEXT_PUBLIC_API_URL=http://localhost:8080

# Solana RPC URL
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com

# Solana network (devnet, mainnet-beta)
NEXT_PUBLIC_SOLANA_NETWORK=devnet

# Arena Program ID
NEXT_PUBLIC_ARENA_PROGRAM_ID=PBPaxmk2fFuvXFqiTM4c6FmuEP4tr8eK8wpa4HroVq6

# Adrena Program ID
NEXT_PUBLIC_ADRENA_PROGRAM_ID=13gDzEXCdocbj8iAiqrScGo47NiSuYENGsRqi3SEAwet
